<footer>
    <div class="container">


        <div class="row text-center">
            <div class="col">
                A jass and en3rypt product.
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                2022 ©
            </div>
        </div>
    </div>
</footer>