html {
  position: fixed;
  /* height: 100vw; */
  overflow-x: hidden;
  width: 100vw;
}
@media (max-width: 992px) {
  html {
    position: static;
  }
}
body {
  font-family: "Special Elite", cursive;
  background-color: #f8f9fa;
  font-size: 22px;
  overflow-x: auto;
}
.start-img {
  max-width: 80%;
  width: 10rem;
}

.k-img {
  max-width: 1200px;
  width: 65%;
  transform: rotate(-20.06deg);
  position: absolute;
  right: -18rem;
  top: 15rem;
  z-index: -100;
}

.navbar-brand {
  font-size: 1.8rem;
}

mark {
  color: #f8f9fa;
  background-color: #000;
}

.justify {
  min-height: 80vh;
}

.text-justify {
  text-align: justify;
}

/* typing effecct */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.typing-effect {
  /* font: bold 300% Consolas, Monaco, monospace; */
  border-right: 0.1em solid black;
  width: 16.5em;
  width: 20ch;
  /* margin: 2em 1em; */
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(21, end),
    blink-caret 0.5s step-end infinite alternate;
}

/* jass */

.navbar-brand {
  font-size: 2.5rem;
}

#typedtext {
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.textpara {
  font-size: 24px;
}

.lenni {
  font-size: 2rem;
}

@media (max-width: 1386px) {
  #typedtext {
    font-size: 3rem;
  }
}

.start-img {
  width: 16rem;
  position: relative;
  top: 5rem;
}

footer {
  font-size: 18px;
}

@media (max-width: 1629px) {
  .start-img {
    position: static;
  }
}
