html {
  position: fixed;
  /* height: 100vw; */
  overflow-x: hidden;
  width: 100vw;
}
@media (max-width: 1000px) {
  html {
    position: static;
  }
}
body {
  font-family: "Special Elite", cursive;
  background-color: #f8f9fa;
  font-size: 22px;
  overflow-x: auto;
}
.start-img {
  max-width: 80%;
  width: 10rem;
}

.k-img {
  max-width: 1200px;
  width: 65%;
  transform: rotate(-26deg);
  position: absolute;
  right: -13rem;
  top: 8rem;
  z-index: -100;
}

.navbar-brand {
  font-size: 1.8rem;
}

mark {
  color: #f8f9fa;
  background-color: #000;
}

.justify {
  min-height: 80vh;
}

/* typing effecct */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.typing-effect {
  /* font: bold 300% Consolas, Monaco, monospace; */
  border-right: 0.1em solid black;
  width: 16.5em;
  width: 20ch;
  /* margin: 2em 1em; */
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(21, end),
    blink-caret 0.5s step-end infinite alternate;
}
