body {
  overflow-x: clip;
  font-family: "Special Elite", cursive;
  background-color: #f8f9fa;
  font-size: 22px;
  /* overflow-x: auto; */
}
.start-img {
  max-width: 80%;
  width: 10rem;
}

.k-img {
  /* overflow: clip; */
  max-width: 1200px;
  /* width: 90%; */
  position: relative;
  right: -13rem;
}
.k-img1 {
  /* float: right; */
  overflow: clip;
  /* max-width: 1200px;
  width: 65%; */
  /* transform: rotate(-20.06deg); */
  position: absolute;
  right: 0;
  top: 10rem;
  z-index: -100;
  width: 60%;
  height: 70vh;
}

.navbar-brand {
  font-size: 1.8rem;
}

mark {
  color: #f8f9fa;
  background-color: #000;
}

.justify {
  min-height: 85vh;
}

.text-justify {
  text-align: justify;
}

/* typing effecct */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.typing-effect {
  /* font: bold 300% Consolas, Monaco, monospace; */
  border-right: 0.1em solid black;
  width: 16.5em;
  width: 20ch;
  /* margin: 2em 1em; */
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(21, end),
    blink-caret 0.5s step-end infinite alternate;
}

/* jass */

.navbar-brand {
  font-size: 2.5rem;
}

#typedtext {
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.textpara {
  font-size: 24px;
}

.lenni {
  font-size: 2rem;
}

@media (max-width: 768px) {
  #typedtext {
    font-size: 3rem;
  }
}
@media (max-width: 376px) {
  #typedtext {
    font-size: 2.2rem;
  }
}
@media (max-width: 320px) {
  #typedtext {
    font-size: 1.8rem;
  }
}

.start-img {
  width: 16rem;
  position: relative;
  top: 5rem;
}

footer {
  font-size: 18px;
}

@media (max-width: 1629px) {
  .start-img {
    position: static;
  }
}

/* toggle */
body.dark {
  background-color: #292c35;
}
/* .checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}*/

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}

/* Practice Page */

.try-again-btn {
  padding: 10px 20px;
  border: 1.2px solid #000000;
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.5);
  border-radius: 19px;
}

.wrapper .input-field {
  opacity: 0;
  z-index: -999;
  position: absolute;
}
.wrapper .content-box {
  padding: 13px 20px 0;
  border-radius: 10px;
  border: 1px solid #bfbfbf;
}
.content-box .typing-text {
  overflow: hidden;
  max-height: 256px;
}
.typing-text::-webkit-scrollbar {
  width: 0;
}
.typing-text p {
  font-size: 21px;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
}
.typing-text p span {
  position: relative;
}
.typing-text p span.correct {
  color: #56964f;
}
.typing-text p span.incorrect {
  color: #cb3439;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
}
.typing-text p span.active {
  color: #17a2b8;
}
.typing-text p span.active::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #17a2b8;
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
  50% {
    opacity: 1;
  }
}
.content-box .content {
  margin-top: 17px;
  display: flex;
  padding: 12px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf;
}
.content button {
  outline: none;
  border: none;
  width: 105px;
  color: #fff;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background: #17a2b8;
  transition: transform 0.3s ease;
}
.content button:active {
  transform: scale(0.97);
}
.content .result-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 140px);
  justify-content: space-between;
}
.result-details li {
  display: flex;
  height: 20px;
  list-style: none;
  position: relative;
  align-items: center;
}
.result-details li:not(:first-child) {
  padding-left: 22px;
  border-left: 1px solid #bfbfbf;
}
.result-details li p {
  font-size: 19px;
}
.result-details li span {
  display: block;
  font-size: 20px;
  margin-left: 10px;
}
li span b {
  font-weight: 500;
}
li:not(:first-child) span {
  font-weight: 500;
}
@media (max-width: 745px) {
  .wrapper {
    padding: 20px;
  }
  .content-box .content {
    padding: 20px 0;
  }
  .content-box .typing-text {
    max-height: 100%;
  }
  .typing-text p {
    font-size: 19px;
    text-align: left;
  }
  .content button {
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 20px;
  }
  .content .result-details {
    width: 100%;
  }
  .result-details li:not(:first-child) {
    border-left: 0;
    padding: 0;
  }
  .result-details li p,
  .result-details li span {
    font-size: 17px;
  }
}
@media (max-width: 518px) {
  .wrapper .content-box {
    padding: 10px 15px 0;
  }
  .typing-text p {
    font-size: 18px;
  }
  .result-details li {
    margin-bottom: 10px;
  }
  .content button {
    margin-top: 10px;
  }
}


/* grayscaling the avatar_images */

.grayscale{
  filter: grayscale(1);
}