<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <title>typ.io</title>
</head>

<body>
    <header>
        <%- include('../partials/navbar'); %>
    </header>
    <!-- Button trigger modal -->

    <!-- <div>
        <input type="checkbox" class="checkbox" id="checkbox">
        <label for="checkbox" class="label">
            <i class="fas fa-moon"></i>
            <i class='fas fa-sun'></i>
            <div class='ball'>
        </label>
    </div> -->
    <div class="pl-3 container-fluid  d-flex flex-column pt-5 justify text-center text-lg-start">

        <div class="row">
            <div class="col-lg-9">
                <p id="typedtext"></p>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center text-center">
                <a class="nav-link" aria-current="page" href="race"><img
                        class="img-fluid start-img py-5 d-block d-lg-none" src="/assets/start.png" alt=""></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <p class="textpara">
                    Enhancing your typing speed is one of the main factors to be more productive.
                    Remember that speed isn’t the most important thing when you’re getting your work done.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p class="lenni">And what better way to practice than with a game? <span class="text-nowrap"> ( ͡° ͜ʖ
                        ͡°)</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col d-block d-lg-none">
                <img class="img-fluid" src="/assets/keyboard-s.png" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-center justify-content-lg-start">
                <a class="nav-link" aria-current="page" href="race"><img
                        class="img-fluid start-img py-5 d-none d-lg-block" src="/assets/start.png" alt=""></a>
            </div>
        </div>

    </div>
    <div class="k-img1  d-none d-lg-block">
        <img class="k-img" src="/assets/keyboard_new.png" alt="">

    </div>

    <%- include('../partials/footer'); %>

        <script src="/js/index.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>