<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
        <title>Welcome back!</title>
</head>
<body>
    <header>
        <%- include('../partials/navbar'); %>
    </header>
    
</body>
</html>